.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
  min-width: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  align-items: center;
  padding: 40px;
}

.containerForm h1 {
  font-family: var(--type-second);
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #121212;
  align-self: flex-start;
}

.ponto {
  color: #41bd9a;
}

.form {
  width: 100%;
}

.form button {
  font-family: var(--type-second);
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #f7f7f7;
  padding: 16px 32px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  background: linear-gradient(#41bd9a, #47b87a);
  margin-top: 32px;
}

.form button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.3s;
}
